<!DOCTYPE html>
    <html>
        <head>
                        <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <title>TakeTwo</title>
            


        </head>

        <body>
                <header>
                        <div class="collapse bg-dark" id="navbarHeader">
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-8 col-md-7 py-4">
                                <h4 class="text-white">About</h4>
                                <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                              </div>
                              <div class="col-sm-4 offset-md-1 py-4">
                                <h4 class="text-white">Contact</h4>
                                <ul class="list-unstyled">
                                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                                  <li><a href="#" class="text-white">Email me</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="navbar navbar-dark bg-dark shadow-sm">
                          <div class="container d-flex justify-content-between" style="float:left">
                            <a href="#" class="navbar-brand d-flex align-items-center">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                              <strong>Take Two</strong>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          </div>
                        </div>
                      </header>
                {% block content %}

                {% endblock %}
 
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        </body>

    </html>
    
    <script>
      
            $('#exampleModal').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget) // Button that triggered the modal
                  console.log(button.name)
                  var id = button.data('id'); // Extract info from data-* attributes
                  var title = button.data('title');
                  var url = button.data('url');
                  var type = button.data('type');
                  console.log(type);
                  console.log(url);
                  var text = "Are you sure you want ";
                  var modal = $(this);
                  if(type == "cart") {
                    $('#add_to_cart').attr("href", url);
                    modal.find('.modal-title').text(text + 'to add ' + title + ' to your cart?');
                  }

                  else if(type == 'checkout') {
                    // $('#checkout_confirm').attr("href", url);
                    modal.find('.modal-title').text("Checkout Successful!");
                  }

                  else {
                    $('#product_delete').attr("href", url);
                    modal.find('.modal-title').text(text + 'to delete ' + title);
                  }
                  
                  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                  
                  
                //   modal.find('.modal-body input').val(recipient)
               });

            $('#product_delete').on('click',function(event) {
                console.log("DELETE CLICKED");
            })
            
            </script>